<%# 
<header>
<h1>Hello, Rails!</h1>
</header>
<main>
<article class= "notecard">
<h1>Articles</h1>
<ul>
  <% @noteTexts.each do |noteText| %>
    <li>
      <%= noteText.noteText %>
    </li>
  <% end %>
</ul>
</article>
<article class = "note_edit">
<p>一旦new.html.erbに移動して確認中</p>
<%= link_to "New Notecard", new_note_app_path %>
</article>
</main> %>